body {
    background-color: #cccccc;
    color: #282828;
    ;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

.header {
    grid-area: header;
    background-color: #282828;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items__menu{
    width: 100%;
}
.logo__menu{
    display: flex;
    justify-content: center;
}
.footer {
    grid-area: footer;
    display: none;
    background-color: #282828;
}
/* about main */
.main__about {
    grid-area: main;
    width: 100%;
    margin: 40px auto;
}
.about__title{
    font-variant: small-caps;
    font-size: 1.5rem;
    margin-bottom: 0;
    
}
.about__btn {
    background-color: transparent;
    width: 40%;
    padding: 5px;
    border: #cccccc 2px solid;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.about__btn:hover {
    background-color: #cccccc;
    color: #F5F5F5;
}
/* luxury */
.luxury{
    display: none;
    width: 100%;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 10px 0;
    margin-bottom: 2rem;
}
.about__btn--luxury{
    background-color: #F5F5F5;
    border-color: #7d7d7d;
    text-decoration: none;
    color: #282828;
    text-align: center;
}
.luxury__texts{
    width: 40%;
    text-align: justify;
}
.luxury__btn{
    display: flex;
    justify-content: end;
}
.luxury__images{
    width: 55%;
    padding-right: 0;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.luxury__text--images{
    font-variant: small-caps;
    padding: 10px;
}
.luxury__image{
    display: flex;
    width: 95%;
    gap: 5px;
    padding: 10px;
    justify-content: space-around;
}
.luxury__img{
    display: flex;
    width: 50%;
}

/* cards */
.cards {
    padding: 5px;
    /* display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.container__cards{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 75%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}

.card__title {
    font-size: 1.15rem;
    font-variant: small-caps;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card__text {
    margin-top: 0;
    font-size: 0.9rem;
}

.card__icon {
    font-size: 2rem;
}

/* we do */
.we_do__container {
    display: flex;
    padding: 10px;
}
.we_do__title{
    font-variant: small-caps;
    font-size: 1.5rem;
    padding-left:1rem;
    margin: 0;
    margin-top: 2.5rem; 
}
/* we do texts */
.we_do__texts {
    /* width: 70%; */
    width: 100%;
    text-align: justify;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.we_do__list{
    list-style: "→ ";
    font-variant: small-caps;
}
.we_do_text__images {
    display: none;
    /* display: flex; */
    width: 100%;
    gap: 5px;
}

.we_do_text__img {
    display: flex;
    width: 50%;
}
/* we do aside image*/
.we_do__image {
    display: none; 
    width: 100%;
}

.we_do__img {
    display: flex;
    width: 90%;
}
/* visor */
.visor{
    display: none;
    width: 100%;
    background: url(../assets/images/kitchen.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}
/* our team */
.ourteam{
     display: none; 
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.ourteam__cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ourteam__card{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    position: relative;
    box-shadow: 0px 0px 25px 5px rgba(84,85,87,0.75);
    padding-bottom:18px;
}
.ourteam_card__image{
    width: 20%;
}
.ourteam_card__img{
    display: flex;
    width: 80px;
    position: absolute;
    top: 2px;
    left: -40px;
}
.ourteam_card__texts{
    width: 75%;
}
.ourteam_card__title{
    font-variant: small-caps;
    color: #282828;
    margin-bottom: 0;
}
.ourteam_card__text{
    color: #7d7d7d;
    margin-top: 0;
    font-size: 0.9rem;
}
/* blog */
.blog{
    background-color: #F5F5F5;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog__text{
    display: none;
}
.blog__images{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.blog__image{
    position: relative;
    width: 30%;
    overflow: hidden;
    
}
.blog__img{
    display: flex;
    width: 100%;
    z-index: 2;
}

.blog__image::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2828286e ;
    z-index: 5;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    color: #F5F5F5;
    transition-duration: 2s;
}
.blog__image:hover::after{
    top: 0;
}
.blog__image--2021::after{
    content: "13 Abril 2021";
}
.blog__image--2022::after{
    content: "22 Agosto 2022";
}
.blog__image--2023::after{
    content: "25 Octubre 2023";
}
@media screen and (min-width:600px) {
    .we_do_text__images{
        display: flex;
    }
    .blog__text{
        display: block;
        font-variant: small-caps;
        color: #7d7d7d;
    }
}

@media screen and (min-width:780px) {
    .menu{
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;
        padding: 5px 15px;
    }
    .logo__menu{
        width: 35%;
    }
    .items__menu{
        width: 60%;
        justify-content: space-evenly;
        list-style: none;
    }
    .footer{
        display: flex;
        color: #F5F5F5;
    }
    .visor{
        display: flex;
    }
    .container__cards{
        padding: 5px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-evenly;
    }
    .ourteam{
        display: flex;
    }
}

@media screen and (min-width:1024px) {
    .visor{
        height: 300px;
    }
    
    .we_do__image{
        display: flex;
        justify-content: center;
    }
    .container{
        grid-template-columns: 120px 1fr;
        grid-template-areas: "header main" "footer footer";
    }
    .menu{
        flex-direction: column;
        position: fixed;
        top: 1;
        padding: 0;
    }
    .items__menu{
        height: 200px;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        padding-left: 0;
    }
    .item__menu{
        margin-bottom: 15px;
    }
    .main__about{
        margin-top: 0;
    }
    .ourteam__cards{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .ourteam__card{
        width: 25%;
    }
    .luxury{
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    .cards{
        background: url(../assets/images/Koje8_2-1.jpg);
        position: relative;
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
        margin-bottom: 10rem;
    }
    .container__cards{
        position: absolute;
        top: 75%;
    }
    .card{
        background-color: #f5f5f571;
    }
    .about__btn{
        background-color: #F5F5F5   ;
    }
}