/* form */
.main__form {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin:10px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #545557;
    box-shadow: 0px 0px 25px 5px rgba(84,85,87,0.75);
}

.form {
    width: 60%;
    border-right:2px solid white ;
}

.fomr__title {
    position: relative;
    font-size: 3rem;
    font-variant: small-caps;
    top: 11%;
    left: 5%;
}

.form__items {
    width: 80%;
    margin: 0 auto;
}

.form__text {
    text-align: justify;
    font-size: small;
    margin-bottom: 35px;
}

.form__item {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.form__input {
    width: 90%;
    padding: 5px;
    border: none;
    background-color: #282828;
    outline: none;
    border-bottom: 2px solid #4D6975;
    color: #4D6975;
}

.form__input:focus {
    background-color: #282828;
    border: 1px solid #4D6975;
    color: #4D6975;
}

.form__btn {
    padding: 5px;
    width: 100%;
    background-color: #4D6975;
    border: 1px solid #4D6975;
    color: #282828;
    font-size: 1.2rem;
    transition-duration: 1.2s;
}
/* btn animation */
.form__btn:hover{
    background-color: #282828;
    color:  #4D6975;
}


/* info form */
.info__form {
    width: 30%;
}
.info__title{
    font-variant: small-caps;
    font-size: 1.5rem;
    text-align: center;
}
.info__table{
    width: 95%;
    border: 1px solid white;
    margin: 0 auto;
}
.title__table{
    border: 1px solid white;
    font-size: 1.1rem;
}
.item__table{
    border: 1px solid white;
    padding: 5px;
    font-size: 0.9rem;
    text-align: center;
}