body{
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #282828;
    color: white;

}
/* container */
.container{
    width: 100%;
}
/* menu */
.menu{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 5px 15px;
}
.logo__menu{
    width: 35%;
}
.img__logo{
    display: flex;
    width: 60px;
}
.items__menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.link__menu{
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    font-size: 1.2rem;
}
.link__menu--activo{
    border-bottom: 1px solid white;
    
}
/* main */
.main{
    position: relative;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.90) 12%, rgba(255,255,255,0.16299019607843135) 50%, rgba(255,255,255,0) 100%), url(../assets/images/DAVINIA-SIMA90-1080x637.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.title__main{
    position: absolute;
    top: 30%;
    left: 10%;
    font-variant: small-caps;
}
.subtitle__main{
    position: absolute;
    top: 37%;
    left: 10%;
    font-variant: small-caps;
}
.main__btn{
    position: absolute;
    top: 55%;
    left: 10%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    background-color: rgba(214, 213, 213);
    border-radius: 28px;
    box-shadow: 0px 0px 60px 0px rgba(214, 213, 213, 0.68);
    font-variant: small-caps;
    transition-duration: 1.5s;
}
/* footer */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.footer__info{
    width: 40%;
}
.footer__contact{
    width: 25%;
    padding: 0 10px;
    border-left: 1px solid rgba(214, 213, 213);
    border-right: 1px solid rgba(214, 213, 213);

}
.footer__follow{
    width: 25%;
}
/* footer title */
.footer__title{
    text-align: center;
    font-variant: small-caps;
    font-size: 1rem;
    margin-bottom: 5px;
    text-decoration: underline;
}
/* footer text */
.footer__text{
    text-align: justify;
    font-size: 0.8rem;
    padding: 6px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer__text--title{
    font-variant: small-caps;
    font-size: 0.9rem;
}
/* foooter icons */
.footer__icons{
    display: flex;
    justify-content: space-between;
}
.footer__link{
    transition-duration: 1.2s;
}
.footer__icon{
    display: flex;
    width: 50px;
}
/* animations */
.main__btn:hover{
    transform: scale(1.2);
    font-size: 1.2rem;
}

.item__menu:hover{
    transform: translate(15px) scale(1.2);
}

.footer__link:hover{
    transform: scale(1.2);
}
.showcontainer{
    animation: showshowcontainer;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes showshowcontainer {
   0%{
    opacity: 0;
    transform: scale(0) rotate(180deg);
   }
   50%{
    opacity: 0.25;
    transform: scale(0.5) rotate(0deg);
   }
   100%{
    opacity: 1;
    transform: scale(1);
   }
}

.showitems{
    animation: showitems;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes showitems {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}